.hdr {
  margin: 1rem 0;
  display: flex;
  color: rgb(var(--text-color));
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
}
h1 {
  text-shadow: rgba(var(--text-color), 0.4) 2px 0px,
    rgba(var(--text-color), 0.3) 4px 0px;
  margin: auto auto;
}
.logo {
  display: flex;
  user-select: none;
  padding: 0.5rem 1rem;
  background-color: rgb(var(--background-color));
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}
